/AddressApplication/target/
/MethodOverloadingDemo/target/
/stream-to-list/target/
/stream-to-list/nbproject/
/stream-filter/target/
/find-first/target/
/reduce/target/
/reduce/nbproject/
/flatmap/target/
/streams-parallel/target/
